/* Estilos generales */

body {
  font-size: 14px; /* Ajusta el tamaño de la fuente global */
}

.app {
  max-width: 600px; /* Ancho máximo para el contenedor principal */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
}


h1 {
  color: #061400;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para el botón "Deshacer" */
button.undo-button {
  margin-top: 10px;
  margin-right: 40px;
  padding: 8px 16px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  float: right;
}

button.undo-button:hover {
  background-color: #5cf6ee;
}

/* Estilo para el mensaje */
.message {
  margin: 10px 30px;
  padding: 20px;
  color: #f70606;
}

/* Animación del logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}